@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

  .custom-border {
    border: 3px solid #4299e1;  /* You can adjust the border width and color here */
  }


.silver-glassmorphism {
  background: linear-gradient(
    to top,
    rgb(224, 224, 224),
    rgb(192, 192, 192),
    rgb(160, 160, 160)
  );
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;

}
